.ng-view-container {
    margin-top:40px;
    padding:12px;

    width:720px;
    height:380px;

    background-color:#f4f;
}

hr {
    background-color:red;
    width:60%;
    height:4px;
}

.passed-msg{
    background-color:#afa;
    display:inline-block;
    border-radius:8px;
    padding:12px;
}

.failed-msg{
    background-color:#faa;
    display:inline-block;
    border-radius:8px;
    padding:12px;
}