.ng-view-container {
    margin-top:40px;
    padding:12px;

    width:720px;
    height:380px;

    background-color:#f4f;
}

hr {
    background-color:red;
    width:60%;
    height:4px;
}

#menu-container > ul > li{
    margin-top:20px;
}

#invoice-container {
    display:inline-block;
    font-size:30px;
}