<table>
  <tr>
    <td colspan="4">
      <input ng-model="num1" id="num1" type="number"/>
    </td>
  </tr>
  <tr>
    <td>
      <button ng-click="add()">+</button>
    </td>
    <td>
      <button ng-click="sub()">-</button>
    </td>
    <td>
      <button ng-click="div()">/</button>
    </td>
    <td>
      <button ng-click="mul()">*</button>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      <input ng-model="num2" id="num2" type="number"/>
    </td>
  </tr>
</table>
<hr/>
<p>
  = {{ans}}
</p>
